.row {
  display: flex;
}

.column {
  flex: 25%;
  padding: 5px;
}
img { object-fit:initial
  border 5px solid #555;
  
}
/* Three columns side by side */
.column {
  float: left;
  width: auto;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */


/* Some left and right padding inside the container */
.container {border-radius: 10px;
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {border-radius: 10px;
  content: "";
  clear: both;
  display: table;
}

.title {border-radius: 10px;
  color: grey;
}

.button {border-radius: 10px;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  margin-bottom: 0.5cm;
  transition-duration: 0.4s;
}

.button:hover {border-radius: 10px;
  background-color: #555;
  
}
p{margin-left: 0.5cm;
  margin-right: 0.5cm;
  margin-bottom: 0.5cm;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}
h2{font-family: Arial, Helvetica, sans-serif;
  margin-left: 0.5cm;
}
h1{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  float: left;
  font-family: Arial, Helvetica, sans-serif;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
 
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}